<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
        <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="../static/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="manage.html"><strong>宠物领养后台管理 </strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">


                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
                    <!-- /.dropdown-tasks -->

        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">



					<li>
					    <a href="admin.html"><i class="fa fa-edit"></i>管理员信息管理 </a>
					</li>
					<li>
					    <a href="user.html"><i class="fa fa-edit"></i>用户信息管理 </a>
					</li>
					<li>
					    <a href="pet.html"><i class="fa fa-edit"></i>宠物信息管理</a>
					</li>
					<li>
					    <a href="apply.html" class="active-menu"><i class="fa fa-list-ul"></i>领养信息审核</a>
					</li>
					<li>
					    <a href="agree.html" ><i class="fa fa-check"></i>领养审核通过</a>
					</li>
					<li>
					    <a href="disagree.html"><i class="fa fa-ban"></i>领养审核未通过</a>
					</li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small></small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
				 <!--  Modals-->												 
				 <!-- End Modals-->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	 领养信息审核		
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>领养用户名</th>
                                            <th>领养宠物名</th>
                                            <th>用户性别</th>
                                            <th>用户所在地</th>
                                            <th>用户联系方式</th>
											<th>用户领养情况</th>
											<th>领养时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeC">
                                            <td>小陈</td>
                                            <td>可乐</td>
                                            <td>男</td>
                                            <td class="center">123456789</td>
                                            <td class="center">123456789</td>
											<td>123456789</td>
											<td>123456789</td>
                                        </tr>
                                        <tr class="gradeU">
                                            <td>小明</td>
                                            <td>驴驴</td>
                                            <td>男</td>
                                            <td class="center">123456789</td>
                                            <td class="center">123456789</td>
                                            <td>123456789</td>
                                            <td>123456789</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->

        </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../static/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="../static/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="../static/js/dataTables/jquery.dataTables.js"></script>
    <script src="../static/js/dataTables/dataTables.bootstrap.js"></script>
		<script>
			$(document).ready(function() {
				$('#dataTables-example').dataTable({
					"ordering": false,
					"searching": false
				});
			});
		</script>
         <!-- Custom Js -->
    <script src="../static/js/custom-scripts.js"></script>
    
   
</body>
</html>
