<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
        <!-- Custom Styles-->
    <link href="/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!--topbar-->
        <div th:replace="bar::topbar"></div>
        <!--    sidebar-->
        <div th:replace="bar::sidebar(activeUri='/Apply/find')"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            <small></small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <!--  Modals-->

                <div class="panel-body">




<!--                    <form method="post" th:action="@{/front/save}" class="form-horizontal" role="form" id="myForm" onsubmit="return ">-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                             style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                    </div>
                                    <div class="modal-body">
                                        <div class="row" style=" position:relative;left:60px;">
<!--                                            <form class="form-horizontal" role="form">-->
                                                <input type="hidden" class="form-control" name="applyId">
                                                <div class="form-group">
                                                    <label>申请用户</label>
                                                    <input type="text" class="form-control" name="applyUserName" >
                                                </div>
                                                <div class="form-group">
                                                    <label>宠物名字</label>
                                                    <input class="form-control" type="text" name="applyPetName" >
                                                </div>
                                                <div class="form-group">
                                                    <label>用户性别</label>
                                                    <input class="form-control" type="text" name="applyUserSex" >
                                                </div>
                                                <div class="form-group">
                                                    <label>用户住址</label>
                                                    <input class="form-control" type="text" name="applyUserAddress" >
                                                </div>
                                                <div class="form-group">
                                                    <label>用户电话</label>
                                                    <input class="form-control" type="text" name="applyUserTelephone" >
                                                </div>
                                                <div class="form-group">
                                                    <label>领养经历</label>
                                                    <input class="form-control" type="text" name="applyUserState">
                                                </div>
                                                <div class="form-group">
                                                    <label>申请时间</label>
                                                    <input class="form-control" type="text" name="applyTime">
                                                </div>
                                                <div class="form-group">
                                                    <label>审核状态</label>
                                                    <input class="form-control" type="text" name="applyState">
                                                </div>

<!--                                            </form>-->
                                        </div>
                                    </div>
<!--                                    <div style="padding: 20px;position: relative;left: 420px;">-->
<!--                                        <button type="reset" class="btn btn-default">重置</button>-->
<!--                                        <button type="submit" class="btn btn-primary">保存</button>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
<!--                    </form>-->
                </div>

                <!-- End Modals-->

                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>
                                    <form method="get" th:action="@{/Apply/find}" style="display: inline">
                                        <span style="margin-right: 50px;">用户信息表</span>
                                        <input type="text" class="form-control"  name="searchName" id="searchName" placeholder="输入姓名搜索" style="display: inline;width: 20%">
                                        <button type="submit" class="btn btn-info">搜索</button>
                                    </form>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>

                                            <th>宠物名字</th>
                                            <th>申请用户</th>
                                            <th>用户性别</th>
                                            <th>用户住址</th>
                                            <th>用户电话</th>
                                            <th>领养经历</th>
                                            <th>申请时间</th>
                                            <th>审核状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="apply:${pagelist.list}">

                                            <td><span th:text="${apply.applyPetName}"></span></td>
                                            <td><span th:text="${apply.applyUserName}"></span></td>
                                            <td><span th:text="${apply.applyUserSex}"></span></td>
                                            <td><span th:text="${apply.applyUserAddress}"></span></td>
                                            <td><span th:text="${apply.applyUserTelephone}"></span></td>
                                            <td><span th:text="${apply.applyUserState}"></span></td>
                                            <td><span th:text="${apply.applyTime}"></span></td>
                                            <td><span th:text="${apply.applyState}"></span></td>
                                            <td style="display: none"><span th:text="${apply.applyId}"></span></td>
                                            <td style="display: none"><span th:text="${apply.applyPetId}"></span></td>
                                            <td>
                                                <button class="btn btn-primary">
                                                    <a th:href="@{'/Apply/agree/'+${apply.applyId}+'/'+${apply.applyPetId}}" style="text-decoration-line: none;color: white">
                                                        同意
                                                    </a>
                                                </button>

                                                <button class="btn btn-danger">
                                                    <a th:href="@{'/Apply/disagree/'+${apply.applyId}}" style="text-decoration-line: none;color: white">
                                                        拒绝
                                                    </a>
                                                </button>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--                            引入分页-->
                                <div th:replace="~{pagination::pag}"></div>
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
                <!-- /. ROW  -->

            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="/js/dataTables/jquery.dataTables.js"></script>
    <script src="/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').dataTable({
                "ordering": false,
                "searching": false
            });
        });

    </script>
    <!-- Custom Js -->
    <script src="/js/custom-scripts.js"></script>


</body>
</html>
