<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>宠物领养中心</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

	<style>
		body{
			margin: 0;
			padding: 0;
			border: 0;
		}
		img{
			height:850px;
			width: 100%;
		}
	</style>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid">
    <div class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="2500" id="myCarousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-sli de-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

<div class="row">

  <!--      <div class="carousel-inner"> -->
            <div class="carousel-item active">
                <img src="/img/slider/7.jpg" alt="" class="d-block">
                <div class="carousel-caption d-none d-sm-block">
                    <h2>第一张图</h2>
                    <p>第一张图描述！第一张图描述！第一张图描述！</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/slider/2.jpg" alt="" class="d-block">
                <div class="carousel-caption d-none d-sm-block">
                    <h5>第二张图</h5>
                    <p>第二张图描述！第二张图描述！第二张图描述！</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/slider/6.jpg" alt="" class="d-block">
                <div class="carousel-caption d-none d-sm-block">
                    <h5>第三张图</h5>
                    <p>第三张图描述！第三张图描述！第三张图描述！</p>
                </div>
            </div>
			<div class="carousel-item ">
                <img src="/img/slider/4.jpg" alt="" class="d-block">
                <div class="carousel-caption d-none d-sm-block">
                    <h5>第三张图</h5>
                    <p>第三张图描述！第三张图描述！第三张图描述！</p>
                </div>
            </div>
			<div class="carousel-item ">
                <img src="/img/slider/5.jpg" alt="" class="d-block ">
                <div class="carousel-caption d-none d-sm-block">
                    <h5>第三张图</h5>
                    <p>第三张图描述！第三张图描述！第三张图描述！</p>
                </div>
            </div>
        </div>


        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>




</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>