<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pet.demo.dao.ApplyDao">
    <select id="findAll" resultType="Apply">
        select * from t_apply where applyState=#{applyState}
    </select>
    <select id="findUser" resultType="Apply">
        select * from t_apply where applyUserId=#{applyUserId}
    </select>
    <select id="findByName" parameterType="String" resultType="Apply">
         select * from t_apply where applyUserName like #{applyUserName} and applyState=#{applyState}
    </select>
    <insert id="save" parameterType="Apply">
        insert into t_apply values(#{applyId},#{applyUserName},#{applyPetName},#{applyUserSex},#{applyUserAddress},#{applyUserTelephone},#{applyUserState},#{applyTime},#{applyState},#{applyUserId},#{applyPetId})
    </insert>
    <delete id="delete" parameterType="String">
        delete from t_apply where applyId=#{applyId}
    </delete>
    <select id="findOne" parameterType="String" resultType="Apply">
            select applyId,applyUserName,applyPetName,applyUserSex,applyUserAddress,applyUserTelephone,applyUserState,applyTime,applyState,applyUserId,applyPetId from t_apply
             where applyId=#{applyId}
    </select>
    <select id="findApply" parameterType="String" resultType="String">
            select applyUserName from t_apply
             where applyId=#{applyId}
    </select>
    <update id="update" parameterType="Apply" >
        update t_apply set applyId=#{applyId},applyUserName=#{applyUserName},applyPetName=#{applyPetName},applyUserSex=#{applyUserSex},applyUserAddress=#{applyUserAddress},applyUserTelephone=#{applyUserTelephone},applyUserState=#{applyUserState},applyTime=#{applyTime},applyState=#{applyState},applyUserId=#{applyUserId},applyPetId=#{applyPetId}
         where applyId=#{applyId}
    </update>
    <update id="modify" parameterType="String" >
        update t_apply set applyState='不同意领养'
         where applyPetId=#{applyPetId} and applyState=#{applyState}
    </update>

</mapper>