<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pet.demo.dao.UserDao">
    <!--查询所有-->
    <select id="findAll" resultType="User">
        select * from t_user
    </select>
    <select id="findName" parameterType="String" resultType="String">
        select userName from t_user where userId=#{userId}
    </select>
    <!--保存员工-->
    <insert id="save" parameterType="User">
        insert into t_user values(#{userId},#{userAccount},#{userPassword},#{userName},#{userAge},#{userSex},#{userTelephone},#{userEmail},#{userAddress},#{userState})
    </insert>
    <delete id="delete" parameterType="String">
        delete from t_user where userId=#{userId}
    </delete>
    <select id="findOne" parameterType="String" resultType="User">
            select userId,userAccount,userPassword,userName,userAge,userSex,userTelephone,userEmail,userAddress,userState from t_user
             where userId=#{userId}
    </select>
    <update id="update" parameterType="User" >
        update t_user set userId=#{userId},userAccount=#{userAccount},userPassword=#{userPassword},userName=#{userName},userAge=#{userAge},userSex=#{userSex},userTelephone=#{userTelephone},userEmail=#{userEmail},userAddress=#{userAddress},userState=#{userState}
        where userId=#{userId}
    </update>
<!--    修改密码-->
<!--    <update id="updatePsd" parameterType="String" >-->
<!--        update t_user set userId=#{userId},userAccount=#{userAccount},userName=#{userName},userAge=#{userAge},userSex=#{userSex},userTelephone=#{userTelephone},userEmail=#{userEmail},userAddress=#{userAddress},userState=#{userState}-->
<!--        where userId=#{userId}-->
<!--    </update>-->

    <!--根据Name模糊查找-->
    <select id="findByName" parameterType="String" resultType="User">
         select * from t_user where userName like #{userName}
    </select>
<!--    根据id查找-->
    <select id="findByAccount" parameterType="String" resultType="User">
         select * from t_user where userAccount=#{Account}
    </select>
    <!--登录,#{传入参数}-->
    <select id="login" resultType="User">
            select userId,userAccount,userPassword,userName,userAge,userSex,userTelephone,userEmail,userAddress,userState from t_user
            where userAccount=#{Account} and userPassword=#{Password}
    </select>

</mapper>